body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-weight: 800;
  text-transform: uppercase;
  border-bottom: 4px solid black;
  display: inline-block;
}

h1 {
  font-size: 2em;
  color: #097693;
}

h2 {
  font-size: 1.2em;
  padding: 13px 0;
  color: #fffebb;
  border-bottom-color: #fffebb;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  float:left;
  font-size: 20px;
  width: 50%;
  height: 40%;
  outline: 2px solid #222222;
  text-align: center;
  line-height: 40%px;
  color: black;
  background: white;
}

div {
  padding: 5px;
}

nav {
  font-size: 1em;
  float: right;
}

nav a {
  text-decoration: none;
  color: black;
  margin: 30px;
  display: inline-block;
}

footer {
  text-align: center;
  border-top: 1px solid black;
  padding: 18px 0;
  margin-top: 40px;
  clear: both;
}

img {
  display: block;
  margin: 0 auto;
  clear: both;
  width: 100%;
}

#hero {
  background: #fffebb;
}

section {
  background: #097693;
  color: white;
  overflow: auto;
  margin: 0 auto;
}

#about {
  font-size: 1.5em;
  width: 45%;
  display: inline-block;
}

#aboutDescription {
  font-size: 1.5em;
  width: 90%;
  display: inline-block;
}

#services {
  font-size: 1.5em;
  width: 45%;
  float: right;
}

label {
  text-decoration: none;
  color: black;
  display: none;
  background-color: #097693;
  padding: 6px;
  border: 2px;
  margin: 3px;
  font-size: 1em;
}

#toggle{
  display: none;
}

@media only screen and (max-width: 1250px) {
  nav {
    float: none;
  } 

  nav a {
      margin: 0 1.6em .75em 0;
  }
  
  img {
    width: 75%;
  }
  
  #about {
    font-size: 1.3em;
    line-height: 1.4em;
    margin: 1em;
    float: none;
    width:90%;
    border: .25em;
  }

  h2 {
  font-size: 1em;
  padding: 13px 0;
  color: #fffebb;
  border-bottom-color: none;
  }

 #services {
      float: none;
      font-size: 1.3em;
      margin: 1em;
     /* width: 90%;  */
      border-bottom: 1em;
      max-width: 75%;
      padding: 5em;

  }
}

@media only screen and (max-width: 580px) {
  nav {
    display:none;
  }

  nav a {
      display: block;
      background-color: #097693;
      padding: 6px;
      border: 2px;
      margin: 3px;
  }


  label {
    display: block;
  }

  footer {
  padding: 1em 0;
  font-size: .75em;
  }

  section, div {
      width: 100%;
      padding: .6em;
  }

  #toggle:checked + nav{
    display: block;
  }

}

@media only screen and (max-width: 450px) {
    img {
      display: none;
  }
}
