@import url(https://fonts.googleapis.com/css?family=Paytone+One);
@import url(https://fonts.googleapis.com/css?family=Voltaire);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic);

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: rgb(0,170,255);
	font-family: 'Merriweather', serif;
	text-align: left;
	font-size: 16px;  /* 1em = 16px */
	line-height: 1.5em;
	margin: 20 10em;

}


header {
	
	background-color:#35A67C;
	padding: 1.5em;
	text-align: center;
	border: 1px black solid;
}
h1 {
	color: #910A33;
	font-family: 'Paytone One', sans-serif;
		font-size: 44px;
}

p, ul {
	color: #ccc;
	font-size: 1em;
	margin: 0 3em;
	/*  width: 45em;  */
}

a {
	color: #blue;
	text-decoration: none;
	border-bottom:1px solid blue;
	padding-bottom:2px;
}
nav {
	font-size: 1em;
	font-style: italic;
/*	background-color: #545454;  */
	padding: 10px;
	text-align: right;
}

nav a {
	color: #ccc;
	font-family: 'Voltaire', sans-serif;
	font-size: 1.25em;
	margin-right:12px;
	text-align: center;
	letter-spacing: 2px; 
	font-weight:600;
	text-decoration: none;
	border-bottom:1px solid #ccc;
	padding-bottom:2px;
}

hr {
	border:none;
	height: 3px;
	background-color: #ccc;
	width: 50em; 
	margin-left: 4em;
}

section {
	margin: 0 28;
	font-size: 1.2em;
  	width: 90%;
  	/* padding: 3%;  */
  	display: inline-block;
  	  background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}


#slogan {
	 font-style: italic;
	 padding-top:1.25em;
	 padding-bottom:1.25em;
	 color: #fff;
}
ul {
    text-align: center;
    list-style-type: none;
}

footer {
	background-color: #ccc;
	padding: 1.25em;
	font-size: 14px;
	text-align: center;
	color: rgb(0,170,255);
}
img {
	display: block;
	margin: 0 auto;
}
span {
	color: #1abc9c;
}
.mid{
	position: relative;
	width: 60em;
	margin: 2em auto; 
}

.mid h2 {
  font-family: 'Voltaire', sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}

#wrapper {
    background-color: #660033;
    border: 2px solid black;
    margin: 0 auto;
    width: 960px;
}
/*
div:last-child div{
	 font-family: 'Voltaire', sans-serif;
	background: #097693;
	font-size: 1.5em;
	top: 34.6152px !important;
    left: 36.7348px !important;
    width: 326.53px !important;
    height: 200.77px !important;  */
  /*  height: 231.77px !important;  */
/* margin: 0 !important;
}
*/
/* div:last-child div{
	background: #097693; 
	color: white;
	font-size: 18px;
	top: 34.6152px !important;
    left: 36.7348px !important;
    width: 326.53px !important;
    height: 231.77px !important; 
    margin: 0 !important;
}
*/
/* div:last-child div a{
	 font-family: 'Voltaire', sans-serif;
	font-size: 1.5em;  
	position: relative;
    bottom: 105px;  */
  /* bottom: 175px; */
 /*   color: white;
}
*/
div {
 /* 	font-size: 1.2em; */
  	width: 46%;
  	padding: 0%;  
  	display: inline-block;
}

#oneC {
/*	float: left;
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;  */
      background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}


#twoC {
/*	float: right;
    background-color: #E55B88;
    border: 1px black solid;
    padding: 10px;  */
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 60%;
}

