@import url(https://fonts.googleapis.com/css?family=Paytone+One);
@import url(https://fonts.googleapis.com/css?family=Voltaire);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic);

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: rgb(0,170,255);
	font-family: 'Merriweather', serif;
	text-align: left;
	font-size: 16px;  /* 1em = 16px */
	line-height: 1.5em;
	margin: 20 10em;
}


header {
	
	background-color:#35A67C;
	padding: 1.5em;
	text-align: center;
	border: 1px black solid;
}
h1 {
	color: #910A33;
	font-family: 'Paytone One', sans-serif;
		font-size: 3em;
}

p {
	color: #ccc;
	font-size: 1em;
	margin: 0 3em;
	/*  width: 45em;  */
}


a {
	color: #blue;
	text-decoration: none;
	padding-bottom:2px;
}

hr {
	border:none;
	height: 3px;
	background-color: #ccc;
	width: 50em; 
	margin-left: 4em;
}

section {
	/*margin: 0 10; */
	margin: 1em;
	font-size: 1.2em;
  	width: 90%;
  	/* padding: 3%;  */
  	display: inline-block;
  	  background-color: #FFB7CF;
    border: 1px black solid;
    padding: 10px;
    min-width: 30%;
}


#slogan {
	 font-style: italic;
	 padding-top:1.25em;
	 padding-bottom:1.25em;
	 color: #fff;
}

ul {
    text-align: left;
    margin-left: 25%;
}

footer {
	background-color: #ccc;
	padding: 1.25em;
	font-size: 14px;
	text-align: center;
	color: rgb(0,170,255);
}
img {
	display: block;
	margin: 0 auto;
	width: 238px; 
}

span {
	color: #1abc9c;
}

.mid{
	position: relative;
	width: 90%;
	margin: 2em auto; 
}

.mid h2 {
  font-family: 'Voltaire', sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}

#wrapper {
    background-color: #660033;
    border: 2px solid black;
    margin: 0 auto;
    width: 95%;
}

div {
  	width: 46%;
  	padding: 0%;  
  	display: inline-block;
}

#oneC {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}


#twoC {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 50%;
}

ul.sidenav {
    list-style-type: none;
    margin: 5;
    padding: 5;
    width: auto;
    background-color: #f1f1f1;
   /* position: fixed; */
    height: auto;
   /* overflow: auto;  */
}
ul.sidenav li {
    display: inline;
   
}

ul.sidenav li a {
   
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}
 
ul.sidenav li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 800px){
 	ul.sidenav li {
    	display: block;
 	}

    ul.sidenav li a {
        text-align: left;
        float: none;
    }

    img {
      width: 230px;
    }

    section, div {
      width: 80%;
      padding: .6em;
      background-color: #660033;
      border: none;
    }

  	#twoC {
      float: none;
      font-size: 1em;
      width: 80%;
          }

 	#oneC {
      float: none;
      font-size: 1em;
      width: 80%;
    }

    h2 {
    	font-size: .65em;
    	display: inline;
    }


    h1 {
    	font-size: .95em;
    	display: inline;
    }


    p,ul {
    	margin: 1.2em .6em 0;
    }
}


@media screen and (max-width: 600px){
    img {
      width: 120px;
    }

    h1 {
   	  display: none;
    }
      
    #twoC {
      float: none;
      font-size: .7em;
      width: 70%;
          }

 	#oneC {
      float: none;
      font-size: .7em;
      width: 70%;
    }

    h2 {
    	font-size: .75em;
    	display: inline;
    }

}