* {
	padding: 0;
	margin: 0;
}

body {
	background-color: rgb(0,170,255);
	font-family:Arial,sans-serif;
	text-align: center;
	font-size: 20px;
	line-height: 1.2;

}

header {
	background-color:#35A67C;
	paddig: 15px;
}
h1 {
	color: #910A33;
	font-family:Arial,sans-serif;
	font-size: 24px;
}

p, ul {
	color: #910A33;
	font-size: 16px;
}

a {
	color: #blue;
}

nav a {
	color: #ccc;
	font-style:italic;
	margin-right:12px;
}


#slogan {
	 font-style: italic;
}
ul {
    text-align: center;
    list-style-type: none;
}

footer {
	background-color: #ccc;
	padding: 20px;
	font-size: 14px;
}

.mid h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
} 
